@import "tailwindcss";

:root {
  --background: rgb(10, 10, 10);
  --foreground: rgb(255, 255, 255);
  --border: rgb(40, 40, 40);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@keyframes in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in-from-right-52 {
  from { transform: translateX(52px); }
  to { transform: translateX(0); }
}

@keyframes slide-out-to-right-52 {
  from { transform: translateX(0); }
  to { transform: translateX(52px); }
}
